:root {
    /* Colors */
    --color-bg: #F5EFE4;
    --color-text: #1E1B16;
    --color-accent: #D98E3E;
    --color-muted: #8C7B6B;

    /* Fonts */
    --font-heading: "Caveat", cursive;
    --font-body: "Playpen Sans", cursive;

    /* Spacing scale */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 48px;
}

/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reusable Classes*/
.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

/* Common Sections*/
#header {}

#footer {}

#sidebar {}