:root {
    /* Colors */
    --color-bg: #F5EFE4;
    --color-text: #1E1B16;
    --color-accent: #D98E3E;
    --color-muted: #8C7B6B;

    /* Fonts */
    --font-heading: "Playpen Sans";
    --font-body: "Playpen Sans";

    /* Spacing scale */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 48px;
}

/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Reusable Classes*/
.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

/* Common Sections*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-lg);
    border-bottom: 1px solid var(--color-muted);
}

#hero-section {
    padding: var(--space-lg) 0;
}

#hero-section h1 {
    font-size: 4rem;
    font-weight: 700;
}

#hero-section h1 span {
    color: var(--color-accent)
}

#hero-section p {
    font-size: 1.2rem;
    color: var(--color-muted);
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
}

nav {
    display: flex;
    gap: var(--space-md);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

.main-logo {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
}

nav a {
    color: var(--color-text);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-accent);
}

nav a.active {
    color: var(--color-accent);
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent);
    text-underline-offset: 6px;
    text-decoration-style: wavy;
}